@import "assets/reset.scss"; /* Import reset.css */

body {
    padding:10px 150px;
    background-image: url(assets/images/globe.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    text-align:center;
    color: #3d3d3d;
}

.container {
    margin:0 auto;
}

.container__row {
    width:100%;
}

.table {
    width:100%;
    border-collapse: collapse;
}

.table > thead > tr > th {
    border-bottom: 2px solid rgba(105, 66, 66, 0.651);
    text-align:left;
    vertical-align: middle;
    padding:0 5px;

  }

  .table > thead > tr > th:not(:first-child) {
    cursor: pointer;
    padding:5px;
    width:20%;
    background-color:rgba(212, 212, 212, 0.8);
    &:hover {
        background-color:#b4b2b4;
        border-bottom: 2px solid rgba(121, 119, 119, 0.651);
        border-left: 1px solid rgba(121, 119, 119, 0.651);
        border-right: 1px solid rgba(121, 119, 119, 0.651);
    }
  }

td {
    padding: 2px 5px;
}

.table__body tr > td:first-child, thead tr > th:first-child {
    font-weight:600;
}

thead th:nth-child(1) {
    width: 5%;
}

.table__body tr:nth-child(odd) {
    background-color: #e0dfe0;
}

.table__body tr:nth-child(even) {
    background-color: #c5c1c5;
}

.table__body > tr:hover {
    background-color:rgb(172, 172, 149);
}

.footer__buttons {
    padding-top:10px;
}

.footer__pages {
    font-weight:400;
}

.filters {
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    width:100%;
    padding:10px;
    background-color:rgb(105, 105, 70);
    border-radius: 10px 10px 0 0;
    font-size:1.1rem
}

.filters > label {
    flex-grow: 1;
}

.filters > label > input {
    padding: 0 5px;
    border-radius:5px;
    font-size:1rem;
}

.img-container {
    display:inline-block;
    vertical-align: middle;
}

.pagination {
    padding: 5px 10px;
    border-radius:7px;
    border:1px solid gray;
    cursor:pointer;
    background-color:white;
    &:hover {
        background-color:#c5c1c5;
    }
}

.inactive {
    cursor:default;
    opacity:0.5;
    &:hover {
        background-color:white;
    }
}

.table__footer {
    user-select: none;
}

.label-name {
    font-weight: 600;
}

.footer__pages {
    margin-top:3px;
    background-color: rgba(255, 255, 255, 0.5);
}

.home {
    align-self:center;
    width:5%;
    &:hover {
        cursor:pointer;
    }
    &:hover .home__img{
        width:22px;
    }
}